<html>

<body>
  <center>
    <div style="background-color: #d3d3d3; max-width: 840px; margin: 0; padding: 30px;">
      <h1>Olá {{name}}</h1>
      <h2 style="color: #292536; text-align: center">Solicitação de alteração de senha</h2>
      <p>Para alterar sua senha clique no botão abaixo</p>
      <div style="margin: 20px auto; width: 120px; padding: 10px 20px; background-color: #2DC654; border-radius: 5px">
        <a href="http://url-do-front/reset-password/?token=${{url}}" target="_blank" rel="noopener noreferrer"
          style="text-decoration: none; color: #fcfcfc; font-size: 18px; margin: 0 auto;">Alterar Senha</a>
      </div>
      <div>
        Se o botão não funcionar copio o link e cole no seu navegador
        <p style="text-decoration: none; color: #177BD0; font-size: 15px; margin: 0 auto;">{{url}}</p>
      </div>
    </div>
  </center>
</body>

</html>