<html>

<head>
  <meta charset='utf-8' />
  <style>
    /* Estilos CSS */
    body {
      font-family: Arial, sans-serif;
      background-color:
        #f1f1f1;
      padding: 20px;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      box-shadow:
        0px 2px 10px rgba(0, 0, 0, 0.3);
    }

    h1 {
      font-size: 24px;
      margin-bottom:
        20px;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 20px;
    }

    a.button {
      display: block;
      width: 400px;
      background-color: #2DC654;
      color:
        #ffffff;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      padding: 10px;
      border-radius: 5px;
      margin: 0 auto;
      font-size: 16px;
    }

    footer {
      margin-top: 50px;
      text-align: center;
    }

    footer p {
      margin-top: 7px;
      font-size: 16px;
      line-height: 1.5;
      text-align: left;
      color: #777777;
    }
  </style>
</head>

<body>
  <div class='container'>
    <h1>Bem-vindo à nossa plataforma!</h1>
    <p>Olá {{name}},</p>
    <h2 style="color: #292536; text-align: center">Solicitação de alteração de senha</h2>
    <p>Uma solicitação de recuperação de senha foi realizada para sua conta ({{email}}) na Findy. Se você não foi o
      autor, apenas descarte esse e-mail.</p>
    <p>Para continuar com a recuperação de senha clique no botão abaixo para criar uma nova senha. Ah, esse link expira
      em 48h.</p>
    <a href='{{url}}' class='button'>Criar nova senha</a>
    <footer>
      <p>Atenciosamente!<br />
        Equipe Findy.</p>
    </footer>
  </div>
</body>

</html>